# <font color='orange'>Data Types</font>
Data yang disimpan di memori memiliki tipe yang berbeda – beda. Misalnya untuk panjang, akan disimpan dengan tipe bilangan. Nama orang akan disimpan dalam tipe string/karakter. Suhu akan disimpan dalam bentuk bilangan berkoma. Dan lain sebagainya. Masing – masing tipe data akan memiliki operasi yang berbeda – beda.

Python memiliki enam tipe data standar atau paling sering digunakan, yaitu:

<li>Bilangan (Number) <br/>
<li>String <br/>
<li>List <br/>
<li>Tuple <br/>
<li>Set <br/>
<li>Dictionary

### 1. Bilangan
Tipe data bilangan yang umum ada 2 yaitu, integer dan float. Integer adalah bilangan bulat, sedangkan float adalah bilangan pecahan. Selain itu ada tipe bilangan lain, yaitu bilangan kompleks yaitu bilangan yang memiliki bagian real dan imajiner. Integer, float, dan kompleks masing-masing di Python diwakili oleh kelas int, float, dan complex.

Kita bisa menggunakan fungsi type() untuk mengetahui tipe data suatu objek di python.

In [20]:
x = 5 
print(x, "tipenya adalah ", type(x))
x = 2.0
print(x, "tipenya adalah ", type(x))
x = 1+2j
print(x, "tipenya adalah ",type(x))

5 tipenya adalah  <class 'int'>
2.0 tipenya adalah  <class 'float'>
(1+2j) tipenya adalah  <class 'complex'>

### 2. String
String adalah satu atau serangkaian karakter yang diletakkan diantara tanda kutip, baik tanda kutip tunggal ( ‘ ) maupun ganda ( ” ). Huruf, angka, maupun karakter lainnya yang digabung menjadi teks adalah contoh string.

String adalah tipe data yang anggotanya berurut dan memiliki indeks. Indeks dimulai dari angka 0 bila dimulai dari depan dan -1 bila diindeks dari belakang. Tiap karakter bisa diakses menggunakan indeksnya dengan formatnamastring[indeks] . Pada string juga bisa dilakukan slicing atau mengakses sekelompok substring dengan format namastring[awal:akhir]. Untuk jelasnya bisa diperhatikan contoh berikut.

In [11]:
kalimat = "0123456789"

print(kalimat)      # print string lengkap
print(kalimat[0])   # print karakter pertama
print(kalimat[-1])  # print karakter terakhir
print(kalimat[4:7]) # print dari indeks 4 - 6
print(kalimat[:4])  # print dari indeks 0 - 3

0123456789
0
9
456
0123

### 3. List
List adalah tipe data yang berisi item yang berurut. Seperti halnya tipe data string, tiap item (anggota) list memiliki indeks sesuai dengan urutannya. Indeks dimulai dari 0 dan bukan dari 1.

List bisa berisi anggota dengan tipe yang sama maupun berbeda. Untuk mendeklarasikan list, digunakan tanda kurung [ ] dan masing-masing anggotanya dipisahkan oleh tanda koma.

Untuk mengakses item dari list caranya adalah dengan memanggil nama list diikuti indeks dari item yang bersangkutan, yaitu dengan format namalist[index]
Selain itu bisa juga dilakukan pengaksesan terhadap sejumlah item dari indeks ke indeks. Hal ini disebut slicing. Contohnya sebagai berikut:

In [12]:
a = [0,1,2,3,4,5,6,7,8,9]

print("a[2] = ", a[2])

print("a[0:3] = ", a[0:3])

print("a[5:] = ", a[5:]) 

print("a[:4] = ", a[:4])
#a[2]=99
#print(a)

a[2] =  2
a[0:3] =  [0, 1, 2]
a[5:] =  [5, 6, 7, 8, 9]
a[:4] =  [0, 1, 2, 3]
[0, 1, 99, 3, 4, 5, 6, 7, 8, 9]

### 4. Tuple
Tuple adalah jenis data lain yang mirip dengan list. Perbedaannya dengan list adalah anggotanya tidak bisa diubah (immutable). List bersifat mutable, sedangkan tuple bersifat immutable. Sekali tuple dibuat, maka isinya tidak bisa dimodifikasi lagi.

Tuple dideklarasikan dengan menggunakan tanda kurung ( ). dan anggotanya dipisahkan oleh tanda koma. Tuple berguna untuk data yang dimaksudkan tidak diubah isinya. Misalnya tuple komposisi warna untuk putih adalah (255,255,255).

Seperti halnya list, kita bisa mengakses anggota tuple dengan menggunakan indeksnya.

In [14]:
white = (255,255,255)
red = (255,0,0)
print(white)
print(red[0])
print(red[1])

# jika merubah isinya akan menghasilkan error
# tuple bersifat immutable
#red[0] = 128

(255, 255, 255)
255
0

### 5. Set
Set adalah salah satu tipe data di Python yang tidak berurut (unordered). Set memiliki anggota yang unik (tidak ada duplikasi). Jadi misalnya kalau kita meletakkan dua anggota yang sama di dalam set, maka otomatis set akan menghilangkan yang salah satunya.

Set bisa digunakan untuk melakukan operasi himpunan matematika seperti gabungan, irisan, selisih, dan komplemen.

Set dibuat dengan meletakkan anggota – anggotanya di dalam tanda kurung kurawal { }, dipisahkan menggunakan tanda koma. Kita juga bisa membuat set dari list dengan memasukkan list ke dalam fungsi set()

Set bisa berisi data campuran, baik integer, float, string, dan lain sebagainya. Akan tetapi set tidak bisa berisi list, set, dan dictionary.

In [15]:
# set integer 
my_set = {1,2,3} 
print(my_set) 

# set dengan menggunakan fungsi set() 
my_set = set([1,2,3]) 
print(my_set) 

# set data campuran 
my_set = {1, 2.0, "Python"} 
print(my_set) 

# bila kita mengisi duplikasi, set akan menghilangkan salah satu 
# output: {1,2,3} 
my_set = {1,2,2,3,3,3} 
print(my_set) 

# set tidak bisa berisi anggota list 
# contoh berikut akan muncul error TypeError 
#my_set = {1,2,[3,4,5]}

{1, 2, 3}
{1, 2, 3}
{1, 2.0, 'Python'}
{1, 2, 3}

### 6. Dictionary
Dictionary adalah tipe data yang tiap anggotanya terdiri dari pasangan kunci-nilai (key-value). Mirip dengan kamus dimana ada kata ada arti. Dictionary umumnya dipakai untuk data yang besar dan untuk mengakses anggota data secara acak. Anggota dictionary tidak memiliki indeks.

Dictionary dideklarasikan dengan menggunakan tanda kurung kurawal { }, dimana anggotanya memiliki bentuk kunci:nilai atau key:value dan tiap anggota dipisah tanda koma. Kunci dan nilainya bisa memiliki tipe sembarang.

Untuk mengakses nilai dari anggota dictionary, kita menggunakan key-nya.

In [17]:
d = {1:'satu', 2:'dua', 'tiga':3}
print(type(d))
print("d[1] = ", d[1])
print("d['tiga'] = ", d['tiga'])

#Error
#print("d[3] = ", d[3])

<class 'dict'>
d[1] =  satu
d['tiga'] =  3

#### *Beberapa Catatan …

1.Tipe data sering disebut objek. Pada dasarnya semua hal di python adalah objek. <br/>
2.Ada tipe data lain yang umumnya dimiliki oleh bahasa Python, yaitu tipe None. Tipe None adalah sebuah tipe data spesial yang menunjukkan bahwa nilai/data suatu variabel itu belum/tidak ada (bukan nol, tapi tidak ada). Pada bahasa pemrograman lain seperti C, atau PHP, tipe data ini disebut null.<br/>
3.Tipe data string, tuple, dan list masuk ke dalam tipe data yang disebut tipe data berurut / ordered atau sekuensial / sequence. Tipe data dictionary disebut data tidak berurut / unordered. <br/>